# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Django
*.sqlite3
*.db
/staticfiles/
/media/

# Node
node_modules/
dist/
build/

# Environment
.env
.env.*

# OS / Editor
.DS_Store
.vscode/
.idea/
