.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  width: 100%;
  padding: 16px 0;
}

.container {
  width: 100%;
  max-width: min(1280px, 100%);
  margin: 0 auto;
  padding: 0 16px;
}
